<% if current_user %>

  <h1>Posts for <%= @brand_name %></h1>
<br>
<table class="table table-condensed">
  <% @posts.each do |post| %>
    <tr>
      <p><td><img src=<%= post.thumbnail_image %> alt="300X260" style="width: 300px; height: 260px;"></td></p>
      <td><p><%= post.post_copy %></p>
        <p>Date Posted: <%= (post.post_date).strftime('%a, %d %b %Y') %></p>
        <p>Current Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      </td>
      <td><div class="btn btn-info"><%= link_to "Edit Post",edit_post_path(post), :style =>"text-decoration: none", :class => "btn-info"%></div></td>
    </tr>
    <% end %>
</table>
    <div class="row text-center">
        <%= will_paginate @posts,renderer: BootstrapPagination::Rails, bootstrap: 3 %>
    </div>
    <br/>
  <% else %>
    <script type="text/javascript">
      window.location.href="/fail"
    </script>
 <% end %>
